body {
    width: 900px;
    background-color: #4A453B;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 32px;
}

nav {
    font-size: 24px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 64px;
}

nav a {
    font-size: 32px;
    margin-left: 8px;
    margin-right: 8px;
    font-family: 'Roboto Slab', serif;
}

p {
    line-height: 160%;
    color: #f7f7f7;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

header {
	margin-top: 24px;
}

h1 {
    font-size: 64px;
    text-align: center;
    color: white;
    margin-bottom: 16px;
    font-family: 'Patrick Hand', cursive;
}

h2 {
    font-size: 32px;
    color: white;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

ul,
ol {
    font-size: 16px;
    color: #f7f7f7;
    margin-left: 32px;
}

img {
    border-radius: 0.25em;
    width: 100%;
}

a {
    color: #FFD78C;
    text-decoration: none;
}

a:hover {
	color: #4286f4;
	font-style: italic;
	}

#copyright {
	color: #4286f4;
	}
	
.like {
	color: #4286f4;
	}
	
#homepage {
	column-count: 2;
	column-gap: 24px;
	}
	
.profile {
	width: 100px;
	border-radius: 100%;
	border: 4px solid #f7f7f7;
	float: left;
	margin-right: 18px;
	}
	
.content {
	display: block;
	margin: auto;
}
